body{
    background-color: rgb(178, 245, 239);
   margin: 0;
}
.component{
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.todo{
    
    text-align: start;
    max-width: 400px;
    min-height: 400px;
    padding: 20px;
}
.inputbtn {
    background-color: rgb(106, 230, 102);
    padding: 4.5px;
    margin-left: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.todo input{
    padding: 4px;
    width: 315px;
}
.list{
    background-color: rgb(247, 239, 195);
    margin: 2px;
    padding: 3px;
    border: 2px solid black;
    
}
.todoLi{
    list-style-type: none;
    background-color: rgb(252, 249, 237);
    margin-top: 10px;
    padding: 3px 8px;
    border-radius: 4px;
   display: flex;
   justify-content: space-between;
}
.btn{
    background-color: red;
    border: 1px solid black;
    padding: 2px 3px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
   
}